.login-btn {
    display: inline-block;
    border-radius: 4px;
    padding: 5px;
    margin: 10px 0;
    background-color: beige;
    box-shadow: 0px 1px 1px 0px #ccc;
}

.login-btn:hover {
    box-shadow: 0px 1px 1px 1px #ccc;
}