<header>
    <h1>商品管理</h1>
    <nav>
        <li><a href="/">登录</a></li>
        <li><a href="/product-add">添加商品</a></li>
        <li><a href="/product-edit">修改商品</a></li>
        <li><a href="/product">商品列表</a></li>
    </nav>
</header>