.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right
  &.details
    display block
    position relative
    border-radius 2px
    margin 1.6em 0
    padding 1.6em
    background-color #eee
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer
      user-select none

.theme-default-content.content__default 
  h1
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.5rem;
  h2,h3,h4,h5,h6 
    padding-top: 1rem;
    margin-top: 0;
    padding: 5px 8px;
    background-color: #ddd;
    border-bottom: none;
    border-left: 5px solid #3eaf7c;
    a.header-anchor {
      margin-left: -30px;
    }