<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页面</title>
    <%- include('templates/common-head_style.ejs') %>
        <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="wrapper">
        <div class="main_top">
            <%- include('templates/header') %>
                <div class="main_content">
                    <h2>主页</h2>
                    <a href="/login">登录</a>
                </div>
        </div>
        <%- include('templates/footer') %>
    </div>
</body>

</html>