<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页面</title>
    <%- include('templates/common-head_style.ejs') %>
        <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="wrapper">
        <div class="main_top">
            <%- include('templates/header') %>
                <div class="main_content">
                    <h2>登录页面</h2>
                    <% if(login.state != '') { %>
                    <div class="main_login_state">
                    <%= login.state %>
                    </div>
                    <% } %>
                    <form action="/dologin" method="POST">
                        <label for="">账户: </label>
                        <input type="text" name="username"> <br>
                        <label for="">密码: </label>
                        <input type="text" name="password"> <br>
                        <button type="submit">登录</button>
                    </form>
                </div>
        </div>
        <%- include('templates/footer') %>
    </div>
</body>

</html>