<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页面</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <%- include('templates/header') %>
        <h2>登录页面</h2>
        <form action="/dologin" method="POST">
            <label for="">账户: </label>
            <input type="text" name="username"> <br>
            <label for="">密码: </label>
            <input type="text" name="password"> <br>
            <button type="submit">登录</button>
        </form>
        <%- include('templates/footer') %>
</body>

</html>